@model IEnumerable<State>
@{
    ViewData["Title"] = "Index";
}

<div class="row border">
    <div class="row m-2 mt-4">
        <h2 class="col-md-6">
            <i class="fa-solid fa-flag-checkered"></i>
            State
        </h2>
        <div class="col-md-6 text-end">
            <a class="btn btn-danger" asp-controller="State" asp-action="Create">
                <i class="fa-solid fa-plus"></i>
                Add State
            </a>
        </div>
    </div>
    <div class="row m-2">
        <table class="table table-hover" id="table">
            <thead class="header2 text-light">
                <th>Id</th>
                <th>Name</th>
                <th>Code</th>
                <th>Country</th>
                <th>Creation Date</th>
                <th class="text-center">Edit</th>
                <th class="text-center">Delete</th>
            </thead>
            <tbody>
                @foreach (var state in @Model)
                {
                    <tr>
                        <td>@state.StateId</td>
                        <td>@state.StateName</td>
                        <td>@state.StateCode</td>
                        <td>@state.Country.CountryName</td>
                        <td>@state.CreationDate</td>
                        <td class="text-center">
                            <a class="btn btn-gradient" asp-controller="Country" asp-action="Update" asp-route-Id="@state.StateId">
                                <i class="fa-solid fa-pen-to-square"></i>
                            </a>
                        </td>
                        <td class="text-center">
                            <a class="btn btn-danger" asp-controller="Country" asp-action="Delete" asp-route-Id="@state.StateId">
                                <i class="fa-solid fa-trash-can"></i>
                            </a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>
